h2 {
  width: 100%;
  text-align: center;
}
body {
 # background-color: grey;
 # border: 2px solid #a1a1a1;
  font-family: verdana,sans-serif;
  font-size: 0.6em; 
}
header, footer {
  border: 2px solid #a1a1a1;
  padding: 0px 8px;
  background-color: #007acc;
  border-radius: 15px;
}
nav {
  border: 2px solid #a1a1a1;
  padding: 5px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  background-color: #4d94ff;
}
nav ul {
  padding: 0;
  text-indent: 40px;
}
nav ul li {
  display: inline;
  text-indent: 40px;
}
section {
#  width: 76%;
#  height: 275px;
#  height: 550px;
  height: 554px;
  overflow-y:scroll;
  border: 2px solid #a1a1a1;
  margin: 0px 0px 0px 0px;
  padding: 20px 10px 0px 10px;
  text-indent: 5px;
  background-color: #b3d9ff;
#  border-radius: 15px;
}
article {
 # width: 78%;
  width: 50%;
 # height: 275px;
  height: 150px;
 # overflow-y:scroll;
  float: right;
  border: 2px solid #a1a1a1;
  margin: 0px 10px 0px 10px;
  padding: 0px 10px 0px 10px;
  text-indent: 5px;
  background-color: #99ccff;
  border-radius: 15px;
}
aside {
  width: 19%;
  height: 554px;
  float: right;
  overflow-y:scroll;
  border: 2px solid #a1a1a1;
  margin: 0px 0px 0px 0px;
  padding: 20px 0px 0px 0px;
  text-indent: 5px;
  background-color: #99ccff;
#  border-radius: 15px;
}
